canvas {
  border: 2px solid  rgb(236, 203, 56);;
  background-color: rgb(124, 124, 240);
  margin-top: 1%;
  margin-left: 18%;
  }

button {
  background-color: black;  
  height: 50px;
  width: 100px;
  margin-left: 46%;
  margin-top: 1%;
  border: rgb(236, 203, 56) solid;
}

body {
  background-color: black;
}

#title {
  color:rgb(236, 203, 56);
  margin-left: 43%;
  text-decoration: underline overline
}

span {
  color: rgb(236, 203, 56);
  font-size: 20px;
}


  